<div class="demo">


  <div class="calculator">
      <div class="screen"><input type="text" [value]="val"/></div>
      <div class="keypad">
          <div class="keys">
              <button type="button" class="btn btn-info btn-xs" (click)="numberClick('7')">7</button>
              <button type="button" class="btn btn-info btn-xs" (click)="numberClick('8')">8</button>
              <button type="button" class="btn btn-info btn-xs" (click)="numberClick('9')">9</button>
              <button type="button" class="btn btn-info btn-xs" (click)="numberClick('/')">÷</button>
          </div>
          <div class="keys">
              <button type="button" class="btn btn-info btn-xs" (click)="numberClick('4')">4</button>
              <button type="button" class="btn btn-info btn-xs" (click)="numberClick('5')">5</button>
              <button type="button" class="btn btn-info btn-xs" (click)="numberClick('6')">6</button>
              <button type="button" class="btn btn-info btn-xs" (click)="numberClick('*')">×</button>
          </div>
          <div class="keys">
              <button type="button" class="btn btn-info btn-xs" (click)="numberClick('1')">1</button>
              <button type="button" class="btn btn-info btn-xs" (click)="numberClick('2')">2</button>
              <button type="button" class="btn btn-info btn-xs" (click)="numberClick('3')">3</button>
              <button type="button" class="btn btn-info btn-xs" (click)="numberClick('-')">-</button>
          </div>
          <div class="keys">
              <button type="button" class="btn btn-info btn-xs" (click)="numberClick('0')">0</button>
              <button type="button" class="btn btn-info btn-xs" (click)="numberClick('')">C</button>
              <button type="button" class="btn btn-info btn-xs" (click)="result()">=</button>
              <button type="button" class="btn btn-info btn-xs" (click)="numberClick('+')">+</button>
          </div>
      </div>
  </div>
  
  
  </div>